.link-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    padding: 10px;
}

.link-container a {
    display: contents;
    flex: 1 1 200px; /* each anchor tag can grow and shrink but basis at 200px */
    margin: 5px;
    text-align: center;
}

.link-container img {
    display: block;
    width: 100%;
    height: auto;
    max-width: 200px;
}

/* Responsive Layouts */
@media (max-width: 768px) {
    .link-container a {
        flex: 1 1 40%; /* approximately 2 columns in smaller screens */
    }
}

@media (max-width: 480px) {
    .link-container a {
        flex: 1 1 80%; /* single column layout for very small screens */
    }
}