همه اپیزودهای این پادکست تو کانال کست باکس منتشر میشه و البته می‌تونید از 
<a href="https://aprd.ir/podcast/">جاهای دیگه</a>
هم بشنوید. 
<div style="display: flex">
<a href="https://podcasts.apple.com/us/podcast/%D8%A7%DB%8C%D8%B3%D8%AA%DA%AF%D8%A7%D9%87-%D9%87%D9%88%D8%B4-%D9%85%D8%B5%D9%86%D9%88%D8%B9%DB%8C/id1744073063" target="_blank">
    <img src="/podcast/icons/apple.svg" alt="Listen on Apple Podcast" class="podcast_icon">
</a>

<a href="https://castbox.fm/ch/5618013" target="_blank">
    <img src="/podcast/icons/castbox.svg" alt="Listen on Castbox" class="podcast_icon">
</a>

<a href="https://open.spotify.com/show/6TPjftO0GVSh6ztwqqEUxM" target="_blank">
    <img src="/podcast/icons/spotify.svg" alt="Listen on Spotify" class="podcast_icon">
</a>

<a href="https://t.me/ai_station_fa" target="_blank">
    <img src="/podcast/icons/telegram.svg" alt="Listen on Telegram" class="podcast_icon">
</a>

<a href="https://music.youtube.com/playlist?list=PL6oGPVr0jiexpv1ogCzb4t0yDrRGrPMJb" target="_blank">
    <img src="/podcast/icons/youtubemusic.svg" alt="Listen on Youtube Music" class="podcast_icon">
</a>

<a href="https://www.youtube.com/playlist?list=PL6oGPVr0jiexpv1ogCzb4t0yDrRGrPMJb" target="_blank">
    <img src="/podcast/icons/youtube.svg" alt="Watch on Youtube" class="podcast_icon">
</a>

<a href="https://feeds.chrt.fm/ai-station-podcast" target="_blank">
    <img src="/podcast/icons/rss.svg" alt="Subscribe RSS Feed" class="podcast_icon">
</a>

</div>
<p>
    اینجا هم می‌تونید فایل صوتی این قسمت رو گوش بدید:
</p>